<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>管理系统用户登录</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" rev="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/toastr/toastr.min.css}" rel="stylesheet" rev="stylesheet" type="text/css" media="all"/>

    <script type="text/javascript" th:src="@{/js/jQuery1.7.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery1.42.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.SuperSlide.js}"></script>
    <script type="text/javascript" th:src="@{/js/Validform_v5.3.2_min.js}"></script>
    <script type="text/javascript" th:src="@{/toastr/toastr.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $tab_li = $('#tab ul li');
            $tab_li.hover(function () {
                $(this).addClass('selected').siblings().removeClass('selected');
                var index = $tab_li.index(this);
                $('div.tab_box > div').eq(index).show().siblings().hide();
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $(".screenbg ul li").each(function () {
                $(this).css("opacity", "0");
            });
            $(".screenbg ul li:first").css("opacity", "1");
            var index = 0;
            var t;
            var li = $(".screenbg ul li");
            var number = li.size();

            function change(index) {
                li.css("visibility", "visible");
                li.eq(index).siblings().animate({opacity: 0}, 3000);
                li.eq(index).animate({opacity: 1}, 3000);
            }

            function show() {
                index = index + 1;
                if (number - 1 >= index) {
                    change(index);
                } else {
                    index = 0;
                    change(index);
                }
            }

            t = setInterval(show, 8000);
            //根据窗口宽度生成图片宽度
            var width = $(window).width();
            $(".screenbg ul img").css("width", width + "px");
        });
    </script>
</head>

<body>


<div id="tab">
    <ul class="tab_menu">
        <li class="selected">学生登录</li>
        <li>导师登录</li>
        <li>教务登录</li>
    </ul>
    <div class="tab_box">
        <!-- 学生登录开始 -->
        <div>
            <div class="stu_error_box"></div>
            <form action="" method="post" class="stu_login_error">
                <input type="hidden" value="a" name="id"/>
                <div id="username">
                    <label>学&nbsp;&nbsp;&nbsp;号：</label>
                    <input type="text" name="username" placeholder="输入学号"/>
                </div>
                <div id="password">
                    <label>密&nbsp;&nbsp;&nbsp;码：</label>
                    <input type="password" name="password" placeholder="输入密码"/>
                </div>
                <div class="login">
                    <button type="button">登录</button>
                </div>
            </form>
        </div>
        <!-- 学生登录结束-->
        <!-- 导师登录开始-->
        <div class="hide">
            <div class="tea_error_box"></div>
            <form action="" method="post" class="tea_login_error">
                <input type="hidden" value="b" name="id"/>
                <div id="username">
                    <label>教工号：</label>
                    <input type="text" name="username" placeholder="输入教工号"/>
                </div>
                <div id="password">
                    <label>密&nbsp;&nbsp;&nbsp;码：</label>
                    <input type="password" name="password" placeholder="输入密码"/>
                </div>
                <div class="login">
                    <button type="button">登录</button>
                </div>
            </form>
        </div>
        <!-- 导师登录结束-->
        <!-- 教务登录开始-->
        <div class="hide">
            <div class="sec_error_box"></div>
            <form action="" method="post" class="sec_login_error">
                <input type="hidden" value="c" name="id"/>
                <div id="username">
                    <label>教务号：</label>
                    <input type="text" name="username" placeholder="输入教务号"/>
                </div>
                <div id="password">
                    <label>密&nbsp;&nbsp;&nbsp;码：</label>
                    <input type="password" name="password" placeholder="输入密码"/>
                </div>
                <div class="login">
                    <button type="button">登录</button>
                </div>
            </form>
        </div>
        <!-- 教务登录结束-->
    </div>
</div>
<!--<div class="bottom">©2014 Leting <a href="javascript:;" target="_blank">关于</a> <span>京ICP证030173号</span>  More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a><img width="13" height="16" th:src="@{/images/copy_rignt_24.png}" /></div>-->
<div class="screenbg">
    <ul>
        <li><a href="javascript:;"><img th:src="@{/images/0.jpg}"/></a></li>
        <li><a href="javascript:;"><img th:src="@{/images/1.jpg}"/></a></li>
        <li><a href="javascript:;"><img th:src="@{/images/2.jpg}"/></a></li>
    </ul>
</div>


<script>
    $(function () {
        // 登录点击事件
        $(".login").click(function () {
            var id = $(this).parent().find("input[name*=\"id\"]").val();
            var username = $(this).parent().find("input[name*=\"username\"]").val();
            var password = $(this).parent().find("input[name*=\"password\"]").val();
            $.ajax({
                url: "/dologin",
                data: {"id": id, "username": username, "password": password},
                dataType: "json",
                type: "post",
                success: function (data) {
                    if (data == true) {
                        toastr.success("登录成功！");
                        if(id=="a"){
                            window.location.href="/doindex";
                        }else if(id=="b"){
                            window.location.href="/doindex";
                        }else if(id=="c"){
                            window.location.href="/doindex";
                        }
                    } else {
                        toastr.error("登录失败！");
                    }
                },
                error: function () {
                    toastr.error("服务器端异常");
                }


            });

        })
    })
</script>
</body>
</html>
