<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.AirQualityMapper">
	<select id="findeList" resultType="AirQuality" parameterType="AirQuality">
   SELECT
  `id`,
  `district`,
  `monitorTime`,
  `pm10`,
  `pm25`,
  `monitoringStation`,
  `createDate`
FROM
  `air_quality_index`
		<if test="district!=null and district!=''">
			WHERE `district`=#{district}
		</if>
  ORDER BY `monitorTime` DESC
    </select>

	<select id="findAirQuality" resultType="AirQuality">
		SELECT
		`id`,
		`district`,
		`monitorTime`,
		`pm10`,
		`pm25`,
		`monitoringStation`,
		`createDate`
		FROM
		`air_quality_index`
			WHERE `id`=#{id}
	</select>

    <insert id="addAirQuality" parameterType="AirQuality">
	INSERT INTO `air_quality_index` (
  `district`,
  `monitorTime`,
  `pm10`,
  `pm25`,
  `monitoringStation`,
  `createDate`
)
VALUES
  (
    #{district},
    NOW(),
   #{pm10},
   #{pm25},
    #{monitoringStation},
    NOW()
  )
    </insert>
<update id="updAirQuality"  parameterType="AirQuality">
	UPDATE
  `air_quality_index`
SET
  `district` = #{district},
  `pm10` =#{pm10},
  `pm25` = #{pm25},
  `monitoringStation` = #{monitoringStation},
  `createDate` = NOW()
WHERE `id` = #{id}
</update>



</mapper>